/*nav-bar*/
$nav-var-background: rgb(7, 7, 7);
$nav-bar-color-logo: #f54538;
$nav-bar-button:  #f54538;

/*text color*/
$text-color-primary: #fff;
$text-color-secondary: #000;

/*background-gradient*/
$primary-color-gradient: #131313;
$secondary-color-gradient: #525252;
$black-background: #000;
$white-background: #fff;